<body>
  <section>
      <div class="container-fluid">
          <div class="row mt-2 mb-2">
            @for(item of listOfPokemon; track item.url) {
            <div class="col-md-3 col-12 mb-4"> <!-- Agrega mb-4 aquí para aumentar el margen inferior -->
              <div class="card" style="width: 18rem">
                <div class="card-body">
                  <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'
                  + item.url.split('/')[item.url.split('/').length - 2] + '.png'" style="width: 12rem; height: fit-content;"> 
                  </div>
                <h5 class="card-title text-center">{{ item.name }}</h5> <!-- Reemplace el estilo inline con clase text-center -->
                @if (item.url) {
                  <a
                    [routerLink]="['/pokemon-detail/', getPokemonId(item!.url)]"
                    class="btn"
                    >Detalles</a>
                  }
                    
              </div>
            </div>
          }
          </div>
      </div>
  </section>
</body>
