<body>
    <section>
        <div class="container-fluid">
            <div class="row mt-2 mb-2">
              @for(item of listOfPokeball; track item.id) {
              <div class="col-md-3 col-12 mb-4">
                <div class="card" style="width: 18rem">
                  <div class="card-body">   
                    <!--<img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/refs/heads/master/sprites/items/poke-ball.png'">-->

                    <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/refs/heads/master/sprites/items/' 
                    + item.name.split('/').pop() + '.png'" class="card-img-top mb-2 rounded">

                  </div>
                  <h5 class="card-title text-center">{{ item.name }}</h5>

                  <a
                  [routerLink]="['/pokeballs-detail/'+getPokeballId(item.url)]"
                  class="btn btn-primary">Detalles</a>
                  
                </div>
              </div>
              }
            </div>
        </div>
    </section>
  </body>
  