<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card" style="width: 28rem">
        <div class="card-body" style="text-align: center;">
            <img [src]="pokeball?.sprites?.default" alt="">
            <h4 class="card-title "style="font-size: 1.75rem;">{{ pokeball?.name }}</h4>
            <p class="card-text">Precio: {{ pokeball?.cost }}</p>
            <p class="card-text">Categoría: {{ pokeball?.category?.name }}</p>
            <!--<p class="card-text">Precisión: {{ pokeball?.accuracy }}</p>-->
        </div>
      </div>
    </div>
    
    
